body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#222;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.hero{
height:400px;
background:url("https://images.unsplash.com/photo-1542314831-068cd1dbfeeb") center/cover;
color:white;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.btn{
background:#ff9800;
padding:10px 20px;
color:white;
text-decoration:none;
}

.features{
display:flex;
justify-content:center;
gap:30px;
padding:40px;
}

.card{
background:white;
padding:20px;
width:200px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
}

.gallery{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:10px;
padding:20px;
}

.gallery img{
width:100%;
border-radius:10px;
}

form{
display:flex;
flex-direction:column;
width:300px;
margin:auto;
gap:10px;
}